@font-face {
    font-family: Mitr;
    src: url(../font/Mitr-Regular.ttf);
}

img {
    max-width: 100%;
    max-height: 100%;
}

div.iform {
  opacity: 0 ;
}

div.showUser {
  font-family: Mitr;
  width: 50%;
  position: absolute;
  margin:  3% auto;
  margin-left: 23%;
  border-radius: 5px;
  background-color: rgba(242,242,242,0.7);
  padding: 20px;
  display: block;
  opacity: 0 ;
  box-shadow: 1px 2px 10px #000000;
  text-align: center;
}

div.mainShow {
  background-color: #1f304e;
   background-image: url('../images/bgfemale.jpg');
   background-repeat: no-repeat;
   background-attachment:fixed;
   position: fixed;
   width: 100%;
   height: 100%;
   z-index: -1;
   overflow-y: auto;
   opacity: 1;
}

body {
  margin: 0;
}

input[type=button] {
    font-family: Mitr ;
    background-color: #4263BF;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #8196CE;
}

#greeting {
  text-align: left;
  padding-bottom: 20px;
  /*font-size: 20px;*/
}

#pname {
  /*font-size: 30px;*/
}

#mottoP {
  /*font-size: 30px;*/
}
